# Byte-compiled files
__pycache__/
*.pyd

# system
.DS_Store

# testing
test/*
test.py
data.xml

# ignore results
presidencyScraper/PresidencyScraper*
presidencyScraper/PresidencyScraperResult/*
presidencyScraper/PresidencyScraperResult_600Biden/*

