# Byte-compiled files
__pycache__/
*.pyd

# system
.DS_Store

# testing
test/*
test.py


# ignore results
presidencyScraper/PresidencyScraperResult/*
presidencyScraper/PresidencyScraperResult_600Biden/*
